body { min-height: 100vh; }

main.container {
    display: flex;
    flex-direction: column;
}

.board {
    height: 500px;
    min-height: min-content;
}

#numbers {
    height: 120px;
}

.sidebar {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

#visualizer {
    height: 500px;
    min-width: 700px;
}
