<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Push Swap Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body class="teal lighten-4">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <nav class="teal">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Push Swap Visualizer</a>
        </div>
      </nav>

    <main class="container">
            <div class="row section">
              <div class="input-field col s4">
                <input placeholder="Type a number" name="generateMin" id="minimum" type="number" value="0" class="validate center-align generateInput">
                <label for="minimum">Minimum</label>
              </div>
              <div class="input-field col s4">
                <input placeholder="Type a number" name="generateMax" id="maximum" type="number" value="0" class="validate center-align generateInput">
                <label for="maximum">Maximum</label>
              </div>
              <div class="valign-wrapper col s4">
                <a class="waves-effect waves-light btn" id="shuffle">Shuffle</a>
              </div>
            </div>
            <div>
                <textarea id="numbers"></textarea>
            </div>
            <div class="section center-align">
                <a class="waves-effect waves-light btn" id="visualize">Visualize</a>
            </div>
            <div class="row section board">
                <div class="sidebar col s1"></div>
                <canvas class="col s11" id="visualizer"></canvas>
            </div>
    </main>
    <footer class="teal page-footer">
        <div class="container">
            <div class="footer-copyright">
              <div class="container">
              © 2022 Emmanuel Ruaud
              </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/draw.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
